/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

app {
  height: 100%;
  padding: 0px;
  margin: 0px;
  display:flex;
  flex-direction: column;
}

#authentication-container {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

#authentication-container form {
	display: block;
	position: relative;
	top: 40%;
	left: 40%;
	width: 20%;
	background-color: rgb(255,255,255);
	padding:10px;
}

#authentication-container form fieldset{
	margin: 10px 0px;
}

#authentication-container form label{
	display: block;
}

#authentication-container form input:not([type=button]){
	width: 100%;
	border: 1px solid black;
}
