html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
}

a.active {
  background-color: gray;
}

.errorMsg {
	color:red;
	font-size:0.8em;
	font-weight:bold;
}

input {
	background-color: white;
}

input.has-success {
	-webkit-transition: background-color 1.5s ease-in-out;
	transition: background-color 1.5s ease-in-out;
	background-color: #73d216;
}

input.has-error {
	-webkit-transition: background-color 1.5s ease-in-out;
	transition: background-color 1.5s ease-in-out;
	background-color: #d21030;
}

#user-table div.row {
	margin-top: 5px;
	margin-bottom: 5px;
}

#user-table-header {
	margin-top: 40px;
	margin-bottom: 40px;
	font-weight: bold;
}

#user-table-footer {
	margin-top: 40px;
	margin-bottom: 40px;
}