
<div id="app_header">
  <nav>
    <a href="#" class="burger"></a>
    <a [routerLink]=" ['./'] "
      routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
      Accueil
    </a>
    <a [routerLink]=" ['./periods'] "
           routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Periodes
    </a>
    <a [routerLink]=" ['./user'] "
           routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Utilisateurs
    </a>
  </nav>
</div>

<div id="app_main">
  <main>
    <router-outlet></router-outlet>
  </main>
</div>

<div id="app_footer">
  <footer>
    <div>
      <a [href]="url">mentions légales</a>
    </div>
  </footer>
</div>
