@import 'src/styles/variables';

#app_header{
  flex-basis: 40px;
  background-color: $primary-background-color;
}

#app_main{
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
}

#app_footer{
  flex-basis: 30px;
  margin: 0px;
  padding: 0px;
  background-color: $primary-background-color;
}

#app_footer a {
  margin: 0px;
  padding: 0px 10px;
  text-decoration: none;
  height: 30px;
  line-height: 30px;
  color: white;
  font-style: italic;
  font-size: 12px;
}

#app_header nav {
  position:absolute;
  display: flex;
  flex-direction:column;
  min-height: 40px;
  width: 100%;
}

#app_header nav a {
  height: 40px;
  line-height: 40px;
  padding: 0px 10px;
  margin: 0px;
  color: white;
}

#app_header nav a.burger {
  display:none;
  text-decoration: none;
  background: url('../assets/img/arrow-head.svg') 10px 10px no-repeat;
  background-size:20px;
}

#app_header nav a:not(.burger) {
  display:block;
  text-decoration: none;
  background-color: $primary-background-color;
}

#app_header nav a.active:not(.burger) {
  font-weight: bold;
}

#app_header nav a:not(.burger):hover {
  background-color: $secondary-background-color;
}

#app_header nav.collapse a:not(.burger) {
  display:none;
}

#app_header nav.collapse a.burger {
  display:block;
}
