<div class="timegrid-component" (window:resize)="onResize($event)">
  <div id="{{gridId}}" class="timegrid"></div>
  <div class="timegrid-tools">
    <div class="scalebar">
      <div *ngFor="let number of maxsize; let i=index" class="scalebar-item" [ngClass]="{'active':number<=size}" (click)="size=number" (mouseover)="size=number">
      </div>
    </div>
    <div>
      <input id="{{gridId}}-size" type="text" class="form-control"
        id="size" required
        [(ngModel)]="size"
        name="name"/>
        <select id="{{gridId}}-unit" [(ngModel)]="unit">
          <option *ngFor="let key of keys" [value]="key">{{timeunits[key]}}</option>
        </select>
        <select id="{{gridId}}-align" [(ngModel)]="align">
          <option *ngFor="let key of aligns" [value]="key">{{alignements[key]}}</option>
        </select>
    </div>`
  </div>
  <!--
  <br>
  start: {{startDate}} ///// date: {{date}}
  <br>
  end: {{endDate}}
  <br>
  minutes: {{timerange.asMinutes}} == hours: {{timerange.asHours}} == days: {{timerange.asDays}}== weeks: {{timerange.asWeeks}} == months: {{timerange.asMonths}} == years: {{timerange.asYears}}
  <br>
  offsetwidth: {{offsetwidth}} // maxrowsize: {{maxrowsize}} // lowerTimeUnit: {{timeunits[lowerTimeUnit]}}
  -->
</div>
